/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

body {
  background: #eeeeee;
}

main.container {
  max-width: none;
}

.mailbox {
  list-style: none;
}

.conversation_header ul.sender_list {
  display: inline-block;
  width: 30%;
}

ul.comma_separated {
  display: inline;
  list-style: none;
  padding-inline-start: 0;
}

ul.comma_separated li {
  display: inline;
  font-size: 100%;
}

ul.comma_separated li::after {
  content: ", ";
}

ul.comma_separated li:last-child::after {
  content: "";
}

.conversation .subject {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.conversation {
  display: block;
  border-top: 1px solid #a577b5;
  margin: 0;
  padding: 0.2em;
  text: red;
}

.message {
  border-radius: 0.5em;
  border: 1px solid #a577b5;
  padding: 1em;
  background-color: white;
  width: 80%;
}

.body {
  padding: 1em;
}

span.conversation_label {
  size: 0.6em;
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: #ffffaa;
}

.grid {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-areas:
    "head head"
    "side main";
}

.header {
  grid-area: head;
}

.side {
  grid-area: side;
}

.main {
  grid-area: main;
}

ul.autocomplete {
  list-style: none;
  position: absolute;
  border: 1px solid #a577b5;
  z-index: 1;
  background: white;
  margin: 0;
}

ul.autocomplete li {
  display: hover;
  margin: 0px;
  padding: 10px;
}

ul.autocomplete li:hover {
  background-color: #a577b5;
}

.form_items {
  list-style: none;
}

.message_header {
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid #A577B5;
  margin-bottom: 10px
  
}

.message_header > li {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 10px;
  grid-template-areas: "key value";
  padding: 5px;
  font-size: 0.9em;
}

.message_header_key {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #606060;
  font-size: 0.9em;
  grid-area: key;
}
.message_header_value {
  grid-area: value;
}

.button {
  background-color: #A577B5;
  color: #fff;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 0.3em;
  display: inline-block;
  cursor: pointer;
}

.conversation_buttons {
  margin: 15px 5px;
}

.navigation-list {
 list-style: none;
 padding: 0;
}

.navigation-list li {
 padding: 4px 20px;
 font-size: 1.1em;
 
}

.navigation-list li a {
   text-decoration: none;
   color: #A577B5;
}

.navigation-list li:hover {
   background-color: #A577B5;
   
}

.navigation-list li:hover a {
  color: white;
}

