/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

/* My CSS! */

:root {
  --main-color: #a577b5;
  --darker-color: #391249;
}

body {
  background: #EBE6DD;
}

main.container {
  max-width: none;
}

.mailbox {
  list-style: none;
}

.conversation-header {
  .sender-list {
    display: inline-block;
    width: 20%;
  }
}

ul.comma-separated {
  display: inline;
  list-style: none;
  padding-inline-start: 0;

  li {
    display: inline;
    font-size: 100%;
  }

  li::after {
    content: ", ";
  }

  li:last-child::after {
    content: "";
  }
}

.conversation .subject {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}

.conversation {
  display: block;
  border-top: 1px solid var(--main-color);
  margin: 0;
  padding: 0.2em;
  text: red;
}

.message {
  border-radius: 0.5em;
  border: 1px solid #a577b5;
  padding: 1em;
  background-color: white;
  width: 80%;
}

.message-body {
  padding: 1em;
}

.conversation-label {
  display: inline-block;
  padding: 0.3em;
  font-size: 0.7em;
  border-radius: 0.5em;
  background-color: var(--main-color);
  text-decoration: none;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-gap: 1em;
  grid-template-areas:
    "head search"
    "side main";
}

.header {
  grid-area: head;
  font-size: 1.2em;
}

.search {
  form {
    padding: 0;
  }
  padding: 0;
  grid-area: search;
  font-size: 1.2em;
}

.side {
  grid-area: side;
}

.main {
  grid-area: main;
  background-color: white;
}

.input {
  background: white;
  padding: 0.6em 0.8em;
  border: 1px solid darkgray;
  border-radius: 0.3em;
  font-size: 1em;
}

.address-input {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.message-recipient {
  padding: 0.5em;
  display: block;
  border: 1px solid black;
  border-radius: 1.5em;
  margin: 0 0.5em;
  font-size: 0.9em;
}

.autocomplete {
  position: relative;
  display: block;
  flex-grow: 11;

  > input {
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;
  }

  > ul {
    position: absolute;
    padding: 0;
    list-style: none;
    border: 1px solid var(--main-color);
    z-index: 1;
    background: white;
    margin: 0;

    top: 100%;
    left: 0;

    > li {
      display: block;
      margin: 0px;
      padding: 10px;
    }
    > .active-suggestion {
      background-color: var(--main-color);
      color: white;
    }
  }
}

.form-items {
  list-style: none;

  > li {
    padding: 0.5em;
    display: grid;
  }
}

.message-header {
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 10px
}

.message-header > li {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 10px;
  grid-template-areas: "key value";
  padding: 5px;
  font-size: 0.9em;
}

.message-header-key {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #606060;
  font-size: 0.9em;
  grid-area: key;
}
.message-header-value {
  grid-area: value;
}

.button {
  background-color: var(--main-color);
  color: #fff;
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 0.3em;
  display: inline-block;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.conversation_buttons {
  margin: 15px 5px;
}

.navigation-list {
 list-style: none;
 padding: 0;
 li {
   font-size: 1.1em;
   a {
     display: inline-block;
     text-decoration: none;
     padding: 4px 20px;
     color: var(--darker-color);
     width: 100%;
    }
  }

  li:hover {
   background-color: var(--main-color);
   a {
     color: white;
    }
  }
}

.header-item {
  float: left;
  padding: 0 1em;
}

.cross-icon {
   width: 1.2em;
   height: 1.2em;
   position: relative;
   transform:  rotate(45deg);
   background: var(--main-color);
   display: inline-block;
   border-radius: 50%;
   vertical-align: middle;
   cursor: pointer;
}

.cross-icon:before, .cross-icon:after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 5px; 
  background: #fff;
}

.cross-icon:before {
  left: 50%;
  width: 20%;
  margin-left: -10%;
  margin-top: 10%;
  height: 80%;
}

.cross-icon:after {
  top: 50%;
  height: 20%;
  margin-top: -10%;
  margin-left: 10%;
  width: 80%;
}

.original {
  background: white;
  padding: 1em;
}

.less-important-text {
  color: #aaa;
}
